# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/


# Other files and folders
.settings/
MERN.code-workspace
/react/react-webpack-setup/node_modules
/react/first-app/node_modules
/firstNodeExpress/node_modules
/react/assignment12-4/node_modules
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
